CLOUDFLARE_TUNNEL_TOKEN=token

# If using Auth 0 account
AUTH0_DOMAIN=your-domain.auth0.com
AUTH0_CLIENT_ID=your-client-id
AUTH0_SECRET=your-secret

#Postgres info for fastapi to initialize
PGRST_PASSWORD=secret
PGRST_USER=username
PGRST_PORT=port
PGRST_HOST=0.0.0.0

# for use case of two different operating systems or locations could be C:\\App or ~/app for example
DOCKER_WORKING_DIR=directory
