# Cloudflare Network connector secret key
CLOUDFLARE_TUNNEL_TOKEN=token

#Postgres info for fastapi to initialize
PGRST_PASSWORD=secret
PGRST_USER=username
PGRST_PORT=port
PGRST_HOST=0.0.0.0

# For use case of two different operating systems or locations could be C:\\App or ~/app for example
DOCKER_WORKING_DIR=directory

# Base Urls for convience
APP_BASE_URL=http://localhost:3000
API_BASE_URL=http://localhost:8000

# If using Auth0
APP_BASE_URL=http://localhost:3000
AUTH0_DOMAIN={domain}.auth0.com # <- get from auth0 dashboard
AUTH0_CLIENT_ID=secret
AUTH0_CLIENT_SECRET=secret

# 64 character random string to encrypt the session cookie
# generate your own secret using `openssl rand -hex 32`
AUTH0_SECRET=secret

# Optional for extra password protection
PEPPER=vnpqhpug-734
